
#nav {
  text-align: center;
  background-color: #ffffff;
  margin-top: 20px;
  border: solid #dfdfdf;
  border-radius: 8px;
 }


#nav li {
   list-style: none;
   display: inline-block;
 }


#nav a {
   color:  #a6a6a6;
   display: block;
   font-family:arial;
   text-transform: uppercase;
   font-weight: bold;
   margin: 0px 20px 0px;
   padding: 9px 80px 9px;
   text-decoration: none;
   font-family: 'Josefin Sans', sans-serif;
  }


#nav a:hover {
   background-color: #dfdfdf;
   color:white;
  }


  h1 {
    font-size: 300%;
    text-align: center;
    font-family: 'Lobster', cursive;
  }


  h2 {
    font-family: 'Josefin Sans', sans-serif;
  }


  #description {
  font-size: 120%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  }


  p {
    font-size: 110%;
    font-family: 'Lato', sans-serif;
  }


  #texteaccueil{
    text-align: center;
  }


  #readmore1 a , #readmore2 a{
    font-family: 'Lato', sans-serif;

  }

  hr {
    width: 300px;
    color: #2d6aa7;
  }


  .texteactualite {
    text-align: justify;
  }


  #btnsociaux {
    margin-left: 150px;
  }


  #btnsociaux a {
    margin: 0px 100px 0px;
    padding: 10px 10px 10px;
  }

  #btnsociaux img {
    width: 50px;
    height:50px;
  }

  #message {
    position: static;
    width: 290px;
    height: 60px;
  }



footer {
  text-align: center;
}


.container {border: solid red;}
