<<<<<<< HEAD
#nav {
  text-align: center;
  background-color: #ffffff;
  padding:10px;
  border: solid #dfdfdf;
  border-radius: 8px;

 }


#nav li {
   list-style: none;
   display: inline-block;
   margin-top:28px;
 }


#nav a {
   color:  #a6a6a6;
   display: block;
   font-family:arial;
   text-transform: uppercase;
   font-weight: bold;
   margin: 0px 10px 0px;
   padding: 9px 50px 9px;
   text-decoration: none;
   font-family: 'Josefin Sans', sans-serif;
  }


#nav a:hover {
   background-color: #dfdfdf;
   color:white;
  }


  h1 {
    font-size: 300%;
    text-align: center;
    font-family: 'Lobster', cursive;
  }


  h2 {
    font-family: 'Josefin Sans', sans-serif;
  }


  #description {
  font-size: 120%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  }


  p {
    font-size: 110%;
    font-family: 'Lato', sans-serif;
  }


  #texteaccueil{
    text-align: center;
  }


  #readmore1 a , #readmore2 a{
    font-family: 'Lato', sans-serif;

  }

  hr {
    width: 300px;
    color: #2d6aa7;
  }


  .texteactualite {
    text-align: justify;
  }


  #btnsociaux {
    margin-left: 150px;
  }


  #btnsociaux a {
    margin: 0px 100px 0px;
    padding: 10px 10px 10px;
  }

  #btnsociaux img {
    width: 50px;
    height:50px;
  }

  #message {
    position: static;
    width: 290px;
    height: 60px;
  }



footer {
  text-align: center;
}




  

  <style>

    body {
      -webkit-font-smoothing: antialiased;
      font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #232525;
      padding-top:70px;
    }

    #slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(https://imgur.com/8ZhxB5I.jpg);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(https://imgur.com/LCkVNRY.jpg);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
<<<<<<< HEAD
  



