#nav {
  text-align: center;
  background-color: rgba(225,225,225,0.5);
  margin-left: 400px;
  margin-right: 400px;
 }

#nav li {
   list-style: none;
   display: inline-block;
 }

#nav a {
   color: #3297FD;
   display: block;
   font-family:arial;
   text-transform: uppercase;
   font-weight: bold;
   margin: 0px 20px 0px;
   padding: 9px 80px 9px;
   text-decoration: none;
  }

#nav a:hover {
   background-color: #2D89E5;
   color:white;
  }
